<<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/mobile.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename= 'css/main.css') }}" media="(min-width: 700px)">
        <title>Flask Application</title>
    </head>
    <body class="body_hide">
        <div class='main-block'>
            <img class='image' src="{{url_for('static', filename= 'image/python.png')}}">
            <div class='info'>
                <h1>Hello, world</h1>
                <p>This is my first Flask application.</p>
                <p>View more on: <span><a href='https://github.com/temryakov'>github.com/temryakov</a></span></p>
            </div>
        </div>
        <script>
            setTimeout(function(){
                document.body.classList.add('body_visible');
            }, 100);
        </script>
    </body>
</html>
